$white: #ffffff;
$orange: #f9b43b;
$red: #e45028;
$black: #2f3234;


@import "layout/font.scss";
@import "layout/normalize.scss";
@import "layout/mixin.scss";
@import "layout/base.scss";
@import "main/hero.scss";
@import "main/header.scss";
@import "main/logo.scss";
@import "main/menu.scss";
@import "main/btn.scss";
@import "main/slogan.scss";
@import "main/aside.scss";
@import "main/best.scss";
@import "main/feature.scss";


