$white: #ffffff;
$orange: #f9b43b;
$red: #e45028;
$black: #2f3234;
$grey: #2f3234;


@import "layout/font.scss";
@import "layout/normalize.scss";
@import "layout/mixin.scss";
@import "layout/media.scss";
@import "layout/base.scss";
@import "main/hero.scss";
@import "main/header.scss";
@import "main/slogan-logo.scss";
@import "main/logo.scss";
@import "main/menu.scss";
@import "main/hamburger.scss";
@import "main/btn.scss";
@import "main/slogan.scss";
@import "main/aside.scss";
@import "main/best.scss";
@import "main/feature.scss";
@import "main/comments.scss";
@import "main/team.scss";
@import "main/team-accordeon.scss";
@import "main/page-menu.scss";
@import "main/menu-accordeon.scss";
@import "main/next-page.scss";
@import "main/maps.scss";
@import "main/footer.scss";
@import "main/contacts.scss";
@import "main/social.scss";
@import "main/order.scss";
@import "main/form.scss";
