.aside {
  position: fixed;
  top: 10%;
  right: 4.5%;
  z-index: 5555;

  @include laptop {
    display: none;
  }

  &__item {
    &_active {
      .aside__link {
        @extend .aside__link_active;
      }
    }
  }

  &__link {
    padding: 0 9px;
    position: relative;


    &:after {
      content: "";
      width: 6px;
      height: 6px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: #ffffff;
    }

    &:hover {
      @extend .aside__link_active;
    }

    &_active {
      &:before {
        content: "";
        width: 14px;
        height: 14px;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: solid 1px #ffffff;
        background-color: transparent;
      }
    }
  }
}