.best {
  background: url("../img/the-best/best-fon.jpg") center center / cover no-repeat;


  &__container {
    @include phones {
      width: 95%;
    }
  }
}

.section__title-best {
  @include phones {
    margin-bottom: 30px;

  }
}