.features {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    justify-content: center;

    @include phones {
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    margin-right:  19px;
    text-align: center;

    @include phones {
      flex-direction: row;
      text-align: left;
      margin: 0 0  30px;
    }


    &:last-child {
      margin-right: 0;
    }
  }

  &__img {
    margin-bottom:  30px;
    max-width: 97px;
    max-height: 89px;
    @include phones {
      margin-bottom: 0;
 
    }
  }

  &__article {
    color: $black;
    flex: 1;
    @include phones {
      margin-left:  10px;
    }

    h3 {
      @include lifehack();
      font-size:  24px;
      margin-bottom:  15px;
      line-height: 1.17;

      @include phones {
        font-size:  26px;
      }

    }

    p {
      @include ubuntu();
      font-size:  14px;
      line-height: 1.71;

      @include phones {
        font-size:  16px;
      }
    }
  }
}