.form {
  display: flex;
  justify-content: center;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }

  &__col {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left:  20px;
    @include ubuntu();
    font-size:  14px;
    color: #ffffff;

    &:first-child {
      margin-left: 0;
    }


    @include tablets {
      margin: 0;
      width: 66%;
      align-items: center;
    }

    @include phones {
      margin: 0;
      width: 100%;
      align-items: center;
      font-size:  18px;
    }
  }

  &__row {
    display: flex;
    width: 100%;
    margin-bottom:  16px;
    justify-content: flex-start;

    @include tablets {
      margin-bottom: 5%;
    }

    @include phones {
      margin-bottom: 3%;
    }

    &-textarea {
      margin-bottom: 5%;

      @include phones {
        margin-bottom: 3%;
      }
    }
  }

  &__block {
    margin-left:  19px;
    flex: 1;
    display: flex;
    flex-direction: column;

    &:first-child {
      margin-left: 0;
    }

    @include phones {

      &:nth-child(3) {
        display: none;
      }
    }
  }

  &__text {
    width: 100%;
    padding:  8px  21px;
    color: #2f3234;
    border-radius: 5px;
    border: solid 1px #d1cfcb;
    outline: none;

    &:focus {
      border: solid  2px #f9b43b;
      padding:  7px  20px;
    }
  }

  &__text-textarea {
    height:  107px;

    @include phones {
      height:  120px;
    }
  }

  &__title {
    margin-bottom:  5px;
  }

  &__buttons-row {
    margin-bottom:  22px;
    width: 100%;

    @include tablets {
      margin-bottom:  26px;
    }

    @include phones {
      text-align: center;
      margin-bottom: 0;

    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.switch-control {
  margin-right:  16px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  
      @include phones {
      margin-bottom:  4%;
    }

  &:last-child {
    margin-right: 0;
  }

  &__title {
    margin-left:  8px;
    line-height: 1;
  }

  &__elem {
    appearance: none;
    display: inline-block;
    margin-right:  -15px;
    outline: none;
    opacity: 0;
    width: 15px;
    height: 15px;

    &:checked~ {
      .switch-control__radio-elem:after {
        background-color: $red;
      }

      .switch-control__checkbox-elem:after {
        background: url(../img/form/checkbox.png) center center no-repeat;
      }
    }
  }

  &__radio-elem {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:after {
      content: "";
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: transparent;
      display: block;
    }
  }

  &__checkbox-elem {
    @extend .switch-control__radio-elem;
    border-radius: 0;

    &:after {
      width: 100%;
      height: 100%;
    }
  }
}