.hero {
  background: url("../img/hero/hero-bg.jpg") center center / cover no-repeat;

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    @include laptop {
      flex-direction: column;
    }
  }
}