.header__menu {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  @include ubuntu(medium);
  flex: 1;
  margin-right:  12px;
  z-index: 8888;
}

.menu {
  font-size:  13px;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;

  @include laptop {
    display: none;
  }
  
  &_overlay {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size:  23px;
    align-items: center;
    justify-content: center;
    background-color: $black;
    opacity: 0.99;
  }

  &__list {
    display: inline-flex;
    align-items: center;

    @include laptop {
      flex-direction: column;
      justify-content: center;
      margin-right: 0;
    }
  }

  &__item {
    margin-right:  16px;
    display: inline-flex;
    align-items: center;

    @include laptop {
      display: flex;
      flex-direction: column;
      margin-right: 0;
      margin-bottom:  22px;
    }

    &:after {
      content: "";
      width:  4px;
      height:  4px;
      border-radius: 50%;
      background-color: currentColor;
      margin-left:  15px;

      @include laptop {
        margin-left: 0;
        margin-top:  19px;
        width:  7px;
        height:  7px;
      }
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;

      &:after {
        margin-right: 0;
        display: none;
        margin-top: 0;
      }
    }
  }
}
