.hero {

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%;
    flex: 1;

    &:after {
      content: "";
      display: block;
      width: 100%;
      padding-top: 100%;
    }

    @include phones {
      width: 83%;
      margin-bottom:  42px;
    }
  }
}