@mixin ubuntu($style: light) {
  font-family: "ubuntu", Helvetica, sans-serif;
  font-weight: 300;

  @if $style==normal {
    font-weight: normal;
  }

  @if $style==medium {
    font-weight: 500;
  }

  @if $style==bold {
    font-weight: bold;
  }
}

@mixin lifehack() {
  font-family: "lifehack", Helvetica, sans-serif;
}

@mixin gagalin() {
  font-family: "gagalin", Helvetica, sans-serif;
}