.aside {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  right: 4%;

  &__link {
    padding: 0 9px;
    position: relative;
  }

  &__link:after {
    content: "";
    width: 6px;
    height: 6px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #ffffff;
  }

  &__link_active {
    &:before {
      content: "";
      width: 14px;
      height: 14px;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: solid 1px #ffffff;
      background-color: transparent;
    }
  }

  &__link:hover {
    @extend .aside__link_active;
  }
}