  .btn {
    padding: rem(10px) rem(17px);
    font-size: rem(13px);
    text-transform: uppercase;
    border-radius: rem(5px);
    @include ubuntu(medium);
    text-align: center;
    display: inline-block;
    color: #ffffff;
    @include phones {
      font-size: rem(15px);
    }

    &_red {
      background-color: $red;

      &:hover {
        background-color: #c1401e;
      }
    }

    &_grey {
      background-color: $black;

      &:hover {
        background-color: #1f2122;
      }
    }

    &_reset {
      background-color: transparent;
      font-size: rem(14px);
      text-transform: capitalize;
    }
  }