  .btn {
    padding: 10px 17px;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 5px;
    @include ubuntu(medium);
    text-align: center;
    display: inline-block;
    color: #ffffff;

    &_red {
      background-color: $red;

      &:hover {
        background-color: #c1401e;
      }
    }

    &_grey {
      background-color: $grey;

      &:hover {
        background-color: #1f2122;
      }
    }

    &_reset {
      background-color: transparent;
      font-size: 14px;
      text-transform: capitalize;

    }

  }