.burger {

  &__left-col {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-right: rem(30px);
    padding: rem(73px) 0;

    @include tablets {
      margin-right: 0;
      padding: rem(75px) 0 0;
      width: 83%;
    }

    @include phones {
      width: 100%;
    }

    &:after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      padding-top: 100%;
    }
  }
}