.burger {
  background-image: linear-gradient(to top, rgb(249, 180, 59) 0%, rgb(235, 140, 56) 48%, rgb(249, 180, 59) 74%);

  &__container {
    display: flex;
    align-items: center;
    
    @include tablets {
      justify-content: center;
    }
  }

  &__wrap {
    overflow: hidden;
    width: 100%;
    display: flex;   
    align-items: center;
    
    @include tablets {
      justify-content: center;
    } 
  }

  &__slider {
    position: relative;
    display: inline-flex;
    width: 100%;
  }

  &__content {
    display: flex;
    width: 100%;
    flex: 0 0 auto;

    @include tablets {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: rem(20px);
    cursor: pointer;

    transform: translateY(-50%);

    &_right {
      margin-left: 0;
      margin-right: rem(2 0px);
    }
  }

  &__nav {
    transform: rotate(90deg);
    width: rem(29px);
    height: rem(16px);

    &_right {
      transform: rotate(-90deg);
    }
  }
}

.section__title-burger {
  padding: 0 rem(20px);
}