.close {
  stroke: #ffffff;
  fill: transparent;
  stroke-opacity: 0.702;
  stroke-width: 4px;
  stroke-linecap: square;
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: none;

  &__menu {
    top: rem(36px);
    right: rem(29px);

    &_active {
      display: inline-block;
      z-index: 8888;
    }
  }
  &__composition {
    stroke: #eb8262;
    flex-shrink: 0;
    align-self: flex-start;
    position: relative;
    display: none;
    @include tablets {
      display: inline-block;
      z-index: 9999;
    }
  }

}



