.composition {
  width: rem(90px);
  height: rem(90px);
  border-radius: 5px;
  background-color: #f08c33;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9999;

  @media (min-width: 769px) {
  &:hover {
    background-color: rgb(227, 80, 40);

    .composition__content {
      display: flex;
    }
  }
}

  @include tablets {
    left: 0;
  }

  @include phones {
    width: rem(100px);
    height: rem(100px);
  }

  &_open {
    @include tablets {
      background-color: rgb(227, 80, 40);

      .composition__content {
        display: flex;
      }
    }
  }

  &__icon {
    width: rem(46px);
    height: rem(44px);
    margin-bottom: rem(4px);
  }

  &__title {
    @include gagalin();
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 100%;
    width: 25vw;
    max-width: rem(270px);
    border-radius: 5px;
    background-color: #ffffff;
    opacity: 0.902;
    font-size: 14px;
    color: $black;
    @include ubuntu(medium);
    display: none;
    align-items: center;
    padding: 15% 23%;
    line-height: 1;
    z-index: 9999;

    @include tablets {
      width: 40vw;
      min-width: rem(220px);
      padding: 15% 20% 15% 24%;
      justify-content: space-between;
    }

    @include phones {
      width: 50vw;
      min-width: rem(200px);
    }
  }

  &__table {
    width: 100%;
    padding: 0;

    td:last-child {
      text-align: right;
    }

    td:first-child {
      width: 31%;
    }
  }
}
