.composition {
  width: rem(90px);
  height: rem(90px);
  border-radius: 5px;
  background-color: #f08c33;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;

  &:hover {
    background-color: rgb(227, 80, 40);

    .composition__content {
      display: flex;
    }
  }
  // @include tablets {
  //   background-color: #f08c33;
  //   .composition__content {
  //     display: none;
  //   }
  // }

  @include tablets {
    left: 0;
  }

  @include phones {
    width: rem(100px);
    height: rem(100px);
  }

  &_open {
    @include tablets {
      background-color: rgb(227, 80, 40);

      .composition__content {
        display: flex;
      }
    }
  }

  &__icon {
    width: rem(46px);
    height: rem(44px);
    margin-bottom: rem(4px);
  }

  &__title {
    @include gagalin();
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 100%;
    width: 24.5vw;
    border-radius: 5px;
    background-color: #ffffff;
    opacity: 0.902;
    font-size: 14px;
    color: $black;
    @include ubuntu(medium);
    display: none;
    align-items: center;
    padding: rem(20px) 23%;
    line-height: 1;
    z-index: 8888;

    @include tablets {
      width: 42vw;
      padding: rem(20px) 80% rem(20px) 24%;
    }

    @include phones {
      width: 70vw;
      padding: rem(20px) 80% rem(20px) 24%;
    }
  }

  &__table {
    width: 100%;
    padding: 0;

    td:last-child {
      text-align: right;
    }

    td:first-child {
      width: 31%;
    }
  }
}
