.contacts {
  display: flex;
  flex-direction: column;



  &__address {
    @include ubuntu();
    font-size: rem(14px);
    color: #ffffff;
    margin-bottom: rem(5px);

    @include phones {
      text-align: center;
      font-size: rem(16px);
    }
  }

  &__link {
    @include ubuntu(bold);
    font-size: rem(14px);
    color: $red;
    display: inline-flex;

    @include phones {
      justify-content: center;
      font-size: rem(18px);
      margin-bottom: 15px;
    }
  }

  &__icon {
    width: 12px;
    height: 12px;
    align-self: center;
    display: inline-block;
    margin-right: rem(5px);
  }
}