.features {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    margin-right: 19px;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }

  &__pic {
    margin-bottom: 30px;
  }

  &__article {
    color: &black;

    h3 {
      @include lifehack();
      font-size: 24px;
      margin-bottom: 20px;
      line-height: 1.17;
    }

    p {
      @include ubuntu();
      font-size: 14px;
      line-height: 1.71;
    }
  }
}