.footer {
  background: url(../img/maps/footer-fon.jpg) center center repeat;
  width: 100%;
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(9px) 0;

    @include phones {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  &__elem {
    width: 50%;
    flex: 1;

    @include phones {
      width: 90%;
    }
  }
}