.form {
  display: flex;
  justify-content: center;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }

  &__col {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: rem(20px);
    @include ubuntu();
    font-size: rem(14px);
    color: #ffffff;

    &:first-child {
      margin-left: 0;
    }


    @include tablets {
      margin: 0;
      width: 66%;
      align-items: center;
    }

    @include phones {
      margin: 0;
      width: 100%;
      align-items: center;
      font-size: rem(18px);
    }
  }

  &__row {
    display: flex;
    width: 100%;
    margin-bottom: rem(16px);
    justify-content: flex-start;

    @include tablets {
      margin-bottom: 5%;
    }

    @include phones {
      margin-bottom: 5%;
    }

    &-textarea {
      margin-bottom: 5%;

      @include phones {
        margin-bottom: 5%;
      }
    }
  }

  &__block {
    margin-left: rem(19px);
    flex: 1;
    display: flex;
    flex-direction: column;

    &:first-child {
      margin-left: 0;
    }
  }

  &__text {
    width: 100%;
    padding: rem(8px) rem(21px);
    color: #2f3234;
    border-radius: 5px;
    border: solid 1px #d1cfcb;
    outline: none;

    &:focus {
      border: solid rem(2px) #f9b43b;
      padding: rem(7px) rem(20px);
    }
  }

  &__text-textarea {
    height: rem(107px);

    @include phones {
      height: rem(120px);
    }
  }

  &__title {
    margin-bottom: rem(5px);
  }

  &__buttons-row {
    margin-bottom: rem(22px);
    width: 100%;

    @include tablets {
      margin-bottom: rem(26px);
    }

    @include phones {
      text-align: center;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.switch-control {
  margin-right: rem(16px);
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &__title {
    margin-left: rem(8px);
  }

  &__elem {
    appearance: none;
    display: inline-block;
    margin-right: rem(-15px);
    outline: none;
    opacity: 0;
    width: 15px;
    height: 15px;

    @include phones {
      margin-bottom: rem(35px);
    }


    &:checked~ {
      .switch-control__radio-elem:after {
        background-color: $red;
      }

      .switch-control__checkbox-elem:after {
        background: url(../img/form/checkbox.png) center center no-repeat;
      }
    }
  }

  &__radio-elem {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:after {
      content: "";
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: transparent;
      display: block;
    }
  }

  &__checkbox-elem {
    @extend .switch-control__radio-elem;
    border-radius: 0;

    &:after {
      width: 100%;
      height: 100%;
    }
  }
}