.hamburger {
  width: 26px;
  height: 24px;
  position: relative;
  display: none;
  cursor: pointer;

  @include laptop {
    display: block;
    margin-left: rem(30px);
  }

  &:hover {
    cursor: pointer;
  }

  &__elem {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #ffffff;

    
    &:before {
      content: "";
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: #ffffff;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%)
    }

    &:after {
      content: "";
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: #ffffff;
      position: absolute;
      top: 100%;
      left: 0;
      transform: translateY(-100%)
    }
  }
}