.header {
  display: flex;
  align-items: center;
  color: $white;
  width: 100%;
  padding-top: 1%;
  position: relative;
  z-index: 7777;

  @include tablets {
    padding-top: 2%;
  }

  @include phones {
    padding: 3% 3%;
  }
}