.hero {
    background: url("../img/hero/hero-bg.jpg") center center / cover no-repeat;
    &-container {
        padding: 10px 80px 40px;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 85%;
        top: 50%;
        transform: translateY(-50%);
    }
}