.menu-accordeon {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;


  &__list {
    display: inline-flex;
    justify-content: flex-end;
    height: 100%;

  }

  &__item {
    display: inline-flex;
    background-size: auto 100%;
    background-position-x: 100%;
    :hover {
      cursor: pointer;
    }
  }

  &__left-col {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: rem(40px) rem(22px);

    @include tablets {
      padding: rem(40px) rem(20px);
    }

    @include phones {
      padding: rem(72px) rem(24px);
    }
  }

  h3 {
    font-size: rem(40px);
    @include gagalin();
    color: $white;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    display: inline-block;
    line-height: 1;

    @include phones {
      font-size: rem(45px);
    }
  }

  &__right-col {
    width: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: rgb(47, 50, 52);
    opacity: 0.929;
    transition: all .5s;

    p {
      @include ubuntu();
      line-height: 1.714;
      color: #ffffff;
    }
  }

  &__item_active {

    .menu-accordeon__right-col {
      width: 50vw;
      padding: 0 rem(35px);

      @include tablets {
        width: 100%;
      }
    }

    .menu-accordeon__left-col h3 {
      color: $orange;
    }

    .menu-accordeon__right-col p {
      opacity: initial;
    }

  }
}

@each $food in (meet, vegan, diet) {
  .menu-accordeon__item_#{$food} {
    background-image: url('../img/menu/#{$food}.jpg');
  }
}