.order {
  background: url('../img/order/order-bg.jpg') center center / cover no-repeat;

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  &__form-content {
    display: flex;
    width: 100%;
  }
}