.page-menu {
  background: url("../img/menu/menu-fon.jpg") center 0 / cover no-repeat;

  .section__title_absolute {
    position: absolute;
    top: 14%;
    left: 9%;
    @include laptop{
      left: 5%;
    }
    @include tablets {
      left: 3%;
      top: 10%;
    }
    @include phones {
      left: 13%;
      top: 6%;
      font-size: rem(57px);
    }

  }
}