.page-menu {
  background: url("../img/menu/menu-fon.jpg") center 0 / cover no-repeat;

  .section__title_absolute {
    position: absolute;
    top: 22%;
    left: 12%;
    @include laptop{
      left: 5%;
    }
    @include tablets {
      left: 2%;
    }
  }
}