.slogan {
  width: 50%;
  margin-left: 10px;

  .slogan-title {
    color: $orange;
  }

  .slogan__text {
    color: $white;
    font-size: 72px;
    text-transform: lowercase;
    line-height: 1.1;
  }
}