.slogan {
  width: 48%;
  margin-left: rem(10px);
  flex: 1;

  @include laptop {
    width: 85%;
    text-align: center;
    margin: 0;
  }

  @include phones {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .slogan__text {
    color: $white;
    font-size: rem(65px);
    text-transform: lowercase;
    line-height: 1;
    @include lifehack();

    @include phones {
      font-size: rem(63px);
    }
  }
}

.section__title_hero-tablets {
  @include phones {
    margin-bottom: rem(5px);
  }
}