.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include phones {
    justify-content: center;
  }

  &__list {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__item {
    margin-left: rem(20px);

    &:first-child {
      @include phones {
        margin-left: 0;
      }
    }
  }
  
  &__img {
    width: 23px;
    height: 20px;
    opacity: .3;

    &:hover {
      fill: #ffffff;
      opacity: 1;
    }
  }
}