

.social {
  display: flex;
  justify-content: flex-end;
  @include phones {
    justify-content: center;
  }

  &__list {
    display: inline-flex;
    justify-content: flex-end;
  }

  &__item {
    margin-left: rem(20px);
    &:first-child {
      @include phones {
        margin-left: 0;
      }
    
    }
  }

  &__pic {
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:1px;

    &:hover {
      background-color: #ffffff;
    }
  }
}

@each $social in (vk, fb, inst, twit) {
  .social__item_#{$social}:hover {
    background: url('../img/maps/#{social}.png');
  }
}