.team {
  background: url("../img/team/team-fon.jpg") center center / cover no-repeat;
  background-position-y: 0;

  &:after {
    content: "";
    width: 50%;
    height: 100%;
    background-color: $black;
    opacity: 93%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  &__container {
    position: relative;
    height: 100%;
  }

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0 0 9%;
    z-index: 2;
  }
}