.team {
  &__container {
    position: relative;
  }

  // &__img {
  //   // height: 100%;
  //   // object-fit: cover;
  // }

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    padding: 97px  97px 0 ;
    background-color: $black;
    opacity: 93%;
  }

  &__status {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}