.team-accordeon {

  &__list {
    display: flex;
    flex-direction: column;

    @include tablets {
      text-align: center;
    }
  }

  &__item {
    color: $white;
    display: flex;
    flex-direction: column;
  }

  &__text {

    h4 {
      @include gagalin();
      font-size: rem(14px);
      margin-bottom: rem(10px);

      @include tablets {
        font-size: rem(23px);
      }

      @include tablets {
        font-size: rem(28px);
      }


      &::before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 7px solid $orange;
        border-left: 4.5px solid transparent;
        border-right: 4.5px solid transparent;
        border-bottom: none;
        margin-right: rem(10px);
      }
    }
  }

  &__section {
    height: 0;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    padding-left: rem(19px);

    @include tablets {
      flex-direction: column;
      padding: 0;
    }
  }

  &__left-col {
    margin-right: rem(19px);
    // width: rem(180px);
    height: 100%;
    display: flex;
    justify-content: center;

    @include tablets {
      margin: 0 0 rem(15px);
    }

    @include phones {
      width: 100%;
    }
  }

  &__pic {
    width: rem(100px);
    height: 0;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  &__right-col {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: rem(14px);


    @include tablets {
      width: 60%;
    }

    @include phones {
      font-size: rem(19px);
      width: 100%;
    }


    h5 {
      @include ubuntu(bold);
      height: 100%;
      margin-bottom: rem(13px);
    }

    p {
      @include ubuntu();
      line-height: 1.71;
      height: 100%;

      @include phones {
        font-size: rem(17px);
      }

    }
  }

  &__item_active {
    margin-bottom: rem(35px);
    height: initial;

    .team-accordeon {

      &__pic {
        height: rem(100px);
      }

      &__text {
        h4 {
          color: $orange;

          &::before {
            transform: rotate(180deg);
          }
        }
      }

      &__section {
        height: initial;
      }
    }
  }
}